[user]
	name = {{ .gitName }}
	email = {{ .gitEmail }}
	signingkey = {{ .signingKey }}
[core]
	autocrlf = input
	editor = code --wait
	excludesfile = ~/.config/git/ignore
[status]
	submoduleSummary = true
[credential]
	helper = osxkeychain
[gpg]
	program = {{ lookPath "gpg" }}
[commit]
	gpgsign = true
[credential "https://github.com"]
	helper =
	helper = !"{{ lookPath "gh" }}" auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !"{{ lookPath "gh" }}" auth git-credential
